@model Lab1.Models.Juegos

@{
    ViewBag.Title = "MostrarJuegos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MostrarJuegos</h2>
<h2>@Model.nombre</h2>
<h3>@Model.puntuacion</h3>
<h3>@Model.año</h3>
<h3>@Model.categoria</h3>
<h3>@Model.estudio</h3>
<h3>@Model.resultadoTiempo</h3>
<h3>@Model.resultadoTiempoPID</h3>
